// https://getbootstrap.com/docs/5.1/customize/sass/

$body-bg: #fce4ec;
$primary: rgb(200, 100, 100);
$secondary: rgb(100, 100, 100);
$light: rgb(100, 150, 200);
$table-striped-bg: rgb(100, 200, 150);
$table-hover-bg: rgb(150, 200, 150);

@import "bootstrap";
