// https://getbootstrap.com/docs/5.1/customize/sass/

$body-bg: #fce4ec;
$primary: #f06292;
$secondary: #512da8;
$light: #ff94c2;
$table-striped-bg: #ff94c2;
$table-hover-bg: #f06292;

@import "bootstrap";
